# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Treinza Zap Vinicius - S3

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.21.0
      - name:  INSTALL E BUILD
        run: npm install && npm run build
        env: 
            CI: "false"
      - name: LISTAR ARQUIVOS
        run: ls -la build/*
        
         
